<div class="ok-body-scroll console">
    <div class="ok-body home">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs6 layui-col-md3">
               <div class="layui-card">
                  <div class="ok-card-body">
                     <div class="img-box" ok-pc-in-show>
                        <i is-close=false class="layui-icon" style="color: red;">&#xe62c;</i>
                     </div>
                     <div class="cart-r">
                        <div class="stat-text incomes-num">10</div>
                        <div class="stat-heading">Online Devices</div>
                     </div>
                  </div>
               </div>
            </div>
        
            <div class="layui-col-xs6 layui-col-md3">
               <div class="layui-card ">
                  <div class="ok-card-body">
                     <div class="img-box" ok-pc-in-show>
                        <i is-close=false class="layui-icon" style="color:lightseagreen;">&#xe630;</i>
                     </div>
                     <div class="cart-r">
                        <div class="stat-text goods-num">138</div>
                        <div class="stat-heading">Device Count</div>
                     </div>
                  </div>
               </div>
            </div>
        
            <div class="layui-col-xs6 layui-col-md3">
               <div class="layui-card">
                  <div class="ok-card-body">
                     <div class="img-box" ok-pc-in-show>
                        <i is-close=false class="layui-icon" style="color:firebrick;">&#xe683;</i>
                     </div>
                     <div class="cart-r">
                        <div class="stat-text blogs-num">27868</div>
                        <div class="stat-heading">Key Count</div>
                     </div>
                  </div>
               </div>
            </div>
        
            <div class="layui-col-xs6 layui-col-md3">
               <div class="layui-card">
                  <div class="ok-card-body">
                     <div class="img-box" ok-pc-in-show>
                        <i is-close=false class="layui-icon" style="color: yellowgreen;">&#xe641;</i>
                     </div>
                     <div class="cart-r">
                        <div class="stat-text fans-num">5</div>
                        <div class="stat-heading">Released versions</div>
                     </div>
                  </div>
               </div>
            </div>
        </div>
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md8">
               <div class="layui-card">
                  <div class="layui-card-header">
                     <div class="ok-card-title">Statistics for device submissions</div>
                  </div>
                  <div class="ok-card-body map-body">
                     <div style="height: 100%;" id="devicesSub"></div>
                  </div>
               </div>
            </div>
      
            <div class="layui-col-md4">
               <div class="layui-card">
                  <div class="layui-card-header">
                     <div class="ok-card-title">Hardware Versions</div>
                  </div>
                  <div class="ok-card-body map-body">
                    <ul>
                        <li></li>
                    </ul>
                  </div>
               </div>
            </div>
         </div>
    </div>
</div>


