<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>versions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/css/oksub.css?v=0.1" media="all" />
    <link rel="stylesheet" href="/static/css/common.css" media="all">
    <link rel="stylesheet" href="/static/layui/css/modules/layer/default/layer.css" media="all">
    <link rel="stylesheet" href="/static/layui/css/modules/laydate/default/laydate.css" media="all">
    <script type="text/javascript" src="/static/layui/layui.js"></script>
    <script type="text/javascript" src="/static/js/versions/list.js"></script>
</head>

<body>
    <div class="ok-body">
        <!--模糊搜索区域-->
        <div class="layui-row" id="laySearch">
            <form class="layui-form layui-col-md12 ok-search" action="" onsubmit="javascript:return false;">
                <input class="layui-input" placeholder="Start Time" autocomplete="off" id="startTime" name="startTime">
                <input class="layui-input" placeholder="End Time" autocomplete="off" id="endTime" name="endTime">
                <button class="layui-btn" lay-submit="" lay-filter="search">
                    <i class="layui-icon layui-icon-search"></i>
                </button>
            </form>
        </div>
        <!--数据表格-->
        <table class="layui-hide" id="tableId" lay-filter="tableFilter"></table>
    </div>

    <!-- 头工具栏模板 -->
    <script type="text/html" id="toolbarTpl">
        <div class="layui-btn-container">
            <button class="layui-btn layui-btn-sm" lay-event="add"> Add New Software </button>
            <button class="layui-btn layui-btn-sm layui-btn-danger" lay-event="batchDel"> Delete Software </button>            
        </div>
    </script>

    <!-- 行工具栏模板 -->
    <script type="text/html" id="operationTpl">
        <a href="javascript:" title="Edit" lay-event="edit"><i class="layui-icon">&#xe642;</i></a>&nbsp;
        <a href="javascript:" title="Push" lay-event="push"><i class="layui-icon">&#xe609;</i></a>&nbsp;
        <a href="javascript:" title="Delete" lay-event="del"><i class="layui-icon">&#xe640;</i></a>
    </script>

</body>

</html>